
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: #B3E5FC;
}
.container{
  background-color:#448AFF ;
  color: #ffff;
  height: 80vh;
  margin: 50px;
  border-radius: 10px;
  box-shadow: 0 0 50px 0 #448AFF;
}
.convert-btn{
  margin: 10% auto;
  border-style: none;
  background-color: transparent;
  border: 2px solid  #B3E5FC ;
  border-radius: 20px;
  color: #ffff;
  
}
.convert-btn:hover{
  transition: all 0.6s;
  background-color: #B3E5FC;
  color: #448AFF;
  font-weight: 700;

}
.text-area{
  min-width: 100%;
  max-height: 40% ;
  
}
.btn-copy{
  border-style: none;
  background-color: transparent;
  border: 2px solid  #B3E5FC ;
  border-radius: 10px;
  color: #ffff;
}
.btn-copy:hover{
  transition: all 0.6s;
  background-color: #B3E5FC;
  color: #448AFF;
  font-weight: 700;

}



